body{
        background-color: #b7db63;
      }
      .title_bk{
        margin-top: -1%;
        margin-left: -1%;
        margin-right: -0.5%;
        background-color: black;
        padding: 100px;
        align-items: center;
      }
      .title{
        font-family: 'Ubuntu', sans-serif;
        color: white;
        font-size: 680%;
      }
      .uwwu{
        color: white;
        font-size: 150%;
        font-family: 'Ubuntu', sans-serif;
        font-style: italic;
      }
      .btn{
        border-color: black;
        cursor: pointer;
        margin: 80px;
        color: black;
        font-size: 250%;
        padding: 20px;
        background-color:transparent;
        font-family: 'Ubuntu', sans-serif;
        border-radius: 20px;
        transition-duration: 1s;
      }
      .btn:hover{
        background-color: #3fd49d;
      }
      .btn_con{
        display:block;
      }
